<script setup>
import { ref } from 'vue'
const props = defineProps(["urgent", "nom", "index"])
const emit = defineEmits(["supprimer", "sauver"])

const modifiable = ref(false)
const nouveauUrgent = ref(props.urgent);
const nouveauNom = ref(props.nom)

function fModifier() {
  modifiable.value = true;
}

function fSauver() {
  modifiable.value = false;
  emit("sauver", props.index, nouveauNom, nouveauUrgent);
}
</script>

<template>
  <div class="article" :class="{ modifiable: modifiable }">
    <label v-if="modifiable">
      <input type="checkbox" v-model="nouveauUrgent" />
      urgent
    </label>
    <strong v-else-if="urgent"> (urgent) </strong>
    <input v-if="modifiable" aria-label="nouveau nom de l'article" v-model="nouveauNom" />
    <span v-else class="nom" :class="{ urgent: urgent }">{{ nom }}</span>
    <button @click="fSauver" v-if="modifiable">Sauver</button>
    <button @click="fModifier" v-else>Modifier</button>
    <button @click="$emit('supprimer', index)">Supprimer</button>
  </div>
</template>

<style scoped>
.urgent{
    font-weight: bold;
    background-color: yellow;
}

main > button {
    display: block;
    margin: 1em;
}

ul button {
    margin: 0.3rem;
    width: 15ch;
}
</style>
