<script setup>
import { ref } from 'vue'
import Article from './Article.vue'

const tabCourses = ref([]);
const nouveau = ref({ nom: "", urgent: false });
let nouvelId = 1;

function fAjouter() {
  tabCourses.value.push(
    {
      id: nouvelId,
      nom: nouveau.value.nom,
      urgent: nouveau.value.urgent
    });
  nouvelId += 1;
  nouveau.value = { nom: "", urgent: false };
}

function fSauver(index, nouveauNom, nouveauUrgent) {
  tabCourses.value[index].nom = nouveauNom;
  tabCourses.value[index].urgent = nouveauUrgent;
}

function fSupprimer(index) {
  tabCourses.value.splice(index, 1);
}
</script>

<template>
  <div class="gestionnaireCourses">
    <button @click="tabCourses = []">Vider ma liste de courses</button>
    <fieldset>
      <legend>Ajouter un article</legend>
      <label>Nouvel article:
        <input v-model.trim="nouveau.nom" /></label>
      <label><input type="checkbox" v-model="nouveau.urgent" />
        urgent</label>
      <p>
        Je souhaite ajouter: {{ nouveau.nom }}
        <strong v-if="nouveau.urgent"> et c'est urgent</strong>
      </p>
      <button @click="fAjouter">Ajouter</button>
    </fieldset>
    <ul>
      <li v-for="(c, index) in tabCourses" :key="c.id">
        <Article :nom="c.nom" :urgent="c.urgent" :index="index" @supprimer="fSupprimer" @sauver="fSauver" />
      </li>
    </ul>
  </div>
</template>
